<tr>
    <td height="20">&nbsp;</td>
  </tr>
  <tr>
    <td align="center"><a href="http://www.templatesfreelance.com/"><img src=<%= asset_path "footer.gif"%> alt="" width="920" height="4" border="0"></a></td>
  </tr>
  <tr>
    <td height="60" align="center"><a href="http://www.templatesfreelance.com/">Home</a> | <a href="http://www.templatesfreelance.com/">News</a> | <a href="http://www.templatesfreelance.com/">Reviews</a> | <a href="http://www.templatesfreelance.com/">How-To's</a> | <a href="http://www.templatesfreelance.com/">Downloads</a> | <a href="http://www.templatesfreelance.com/">Shop &amp; Compare</a> | <a href="http://www.templatesfreelance.com/">Apps</a> | <a href="http://www.templatesfreelance.com/">Business Center</a> | <a href="http://www.templatesfreelance.com/">FAQ</a> | <a href="http://www.templatesfreelance.com/">Contact Us</a><br>
    TemplatesFreeLance.com &copy; copyright 2012 - <a href="http://www.templatesfreelance.com/">Web Page Templates </a></td>
  </tr>