<td width="192" height="479"><table width="192"  border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td height="38" class="topMenu LeftMenuHeader" >Categories</td>
          </tr>
        </table>          
          <table width="100%"  border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td height="216" valign="top">
                <div class="RightMenu">
                  <ul>
                    <li><a href="http://www.templatesfreelance.com/" id="WhiteColor2">Atcapto pecus</a></li>
                    <li><a href="http://www.templatesfreelance.com/" id="WhiteColor2">Modo uxor</a></li>
                    <li><a href="http://www.templatesfreelance.com/" id="WhiteColor2">Genitus</a></li>
                    <li><a href="http://www.templatesfreelance.com/" id="WhiteColor2">Valde quae</a></li>
                    <li><a href="http://www.templatesfreelance.com/" id="WhiteColor2">Velit fere elitille</a></li>
                    <li><a href="http://www.templatesfreelance.com/" id="WhiteColor2">Autem distineo</a></li>
                    <li><a href="http://www.templatesfreelance.com/" id="WhiteColor2">Distineo</a></li>
                    <li><a href="http://www.templatesfreelance.com/" id="WhiteColor2">Valde quae</a></li>
                    <li><a href="http://www.templatesfreelance.com/" id="WhiteColor2">Velit fere elitille</a></li>
					<li><a href="http://www.templatesfreelance.com/" id="WhiteColor2">Valde quae</a></li>
                  </ul>
              </div></td>
            </tr>
          </table>
          <table width="100%"  border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td><a href="http://www.templatesfreelance.com/"><img src=<%= asset_path "rightBaner.jpg"%> alt="" width="192" height="334" border="0"></a></td>
            </tr>
          </table></td>