<tr>
    <td height="25">&nbsp;</td>
  </tr>
  <tr>
    <td height="77" class="header"><table width="100%"  border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="28%" align="left"><a href="http://www.templatesfreelance.com/"><img src=<%= asset_path "logo.jpg"%> alt="" width="262" height="77" border="0"></a></td>
        <td width="72%" align="right">
		<a href="http://www.templatesfreelance.com/">Login</a>&nbsp;&nbsp;
		<a href="http://www.templatesfreelance.com/">Registration</a> &nbsp;&nbsp;
		<a href="http://www.templatesfreelance.com/">Contact Us</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		
		</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td height="38" class="menu">
	
	<div class="menuLs">
				<ul>
				<li><a href="http://www.templatesfreelance.com/" id="WhiteColor">Home</a></li>
				<li><a href="http://www.templatesfreelance.com/" id="WhiteColor">News</a></li>
				<li><a href="http://www.templatesfreelance.com/" id="WhiteColor">Reviews</a></li>
				<li><a href="http://www.templatesfreelance.com/" id="WhiteColor">How-To's </a></li>
				<li><a href="http://www.templatesfreelance.com/" id="WhiteColor">Downloads</a></li>
				<li><a href="http://www.templatesfreelance.com/" id="WhiteColor">Shop & Compare</a></li>
				<li><a href="http://www.templatesfreelance.com/" id="WhiteColor">Apps</a></li>
				<li><a href="http://www.templatesfreelance.com/" id="WhiteColor">Business Center</a></li>
				<li><a href="http://www.templatesfreelance.com/" id="WhiteColor">FAQ</a></li>
				</ul>
	</div>	</td>
  </tr>
  <tr>
    <td height="20">&nbsp;</td>
  </tr>